.contenedor{
    background: grey;
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    float: left;
}


#calculadoraImc{
    border: 1px solid black;
    background: rgb(128, 207, 128);
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    transition: .75s all ease-in-out;
}

#calculadoraImc:hover{
    background: rgb(93, 147, 90);
    transition: .75s all ease-in-out;
}

#resultado{
    margin-top: 5px;
    align-items: center;
}


